<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
        <title>UFO Sightings Database - Contact</title>
    </head>
    <body>
        <header>
            <a href="../home"><img id="siteid" src="../static/alien.png"></a>
            
            <div class="topnav" id="myTopnav">
                <a href="../home">Home</a>
                <a href="../sightings">Search Sightings</a>
                <a href="../shop">Shop</a>
                <a href="../contact" class="active">Contact Us</a>
            </div>
            
        </header>
        
        <section>
            <h1>Contact Us!</h1>
            <img id="alienDanielleEmilee" src="../static/alienDanielleEmilee.png" alt="Creators' heads float next to UFO">
            
            <table id="contactTable">
                <tr>
                    <td><h3>Emilee Fulton</h3></td>
                    <td></td>
                    <td><h3>Danielle Eisen</h3></td>
                </tr>
                <tr>
                    <td><p> Experienced Ufologist<br>fultone@carleton.edu</p></td>
                    <td></td>
                    <td><p> Experienced Ufologist<br>eisend@carleton.edu</p></td>
                </tr>
            </table>   
        </section>
        
        <aside>
            <figure>
                <a href="../shop"><figcaption>Purchase UFO Gear</figcaption></a>
                <img id="ufoshirt" src="../static/shirt.png" alt="Black t-shirt with alien and ufo">
            </figure>
        </aside>
        
        <footer>
            <p>
                UFO Sightings Database created by Danielle Eisen and Emilee Fulton.
            </p>
            <p>
                All data was gathered from the <a href="http://www.nuforc.org/">National UFO Reporting Center</a>. Permission to use this database is given via the National UFO Reporting Center's <a href="http://www.nuforc.org/General.html">Information and Policies page</a>.
            </p>
            <p>
                All images on this webpage were labeled for reuse by the owner. The site ID image was modified from its original form <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Alien01.svg/2000px-Alien01.svg.png">here</a>. The alien shirt was found <a href="http://www.glow.co.uk/media/catalog/product/cache/1/image/416x/0f396e8a55728e79b48334e699243c07/g/l/glow-tshirt-1600-alien.jpg">here</a>. The photo of Emilee and Danielle was modified from its original form <a href="https://pixabay.com/p-782655/?no_redirect">here</a>.
            </p>
        </footer>

    </body>
</html>